.setction {
  justify-content: space-between;
  color: white;
  height: 1000px;


  h1 {
    margin: 0 0 2.5rem;
    line-height: 1em;
  }

  p {
    margin-bottom: 2rem;
  }

  &__right {
    position: absolute;
    // right: -10%;
    // bottom: 10%;
    width: 50%;
  }

  &__left {
    position: absolute;
    left: 5%;
    top: 40%;
    width: 30%;
    // transition: all .7s;
  }
}