$blue: rgb(7, 95, 167);

.home-content {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  // 导航栏
  .navs {
    background-color: rgb(117, 132, 145);
    position: absolute;
    z-index: 999;
    // top: 100px;
    right: 20%;
    width: 80px;
    display: flex;
    // flex-direction: column-reverse;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    transition: all .5s ease;

    &.maxHeight {
      width: 600px;
    }

    .icon-btn {
      position: relative;
      ;
      left: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 60px;
      outline: none;
      z-index: 20;
      padding: 0;
      width: 60px;
      text-align: center;
      // background-color: aliceblue;

      &.toggled {
        .icon {
          background-color: transparent;
          top: -10px;

          &:before {
            top: 0px;
            transform: rotate(-45deg);
          }

          &:after {
            bottom: 0px;
            transform: rotate(45deg);
          }
        }
      }
    }

    .icon {
      background-color: $blue;
      border-radius: 60px;
      height: 10px;
      position: relative;
      transition: all 0.25s;
      width: 60px;

      &:before,
      &:after {
        background-color: $blue;
        border-radius: 60px;
        content: "";
        height: 10px;
        left: 0px;
        position: absolute;
        z-index: 0;
        transition: all 0.25s;
        width: 60px;
      }

      &:before {
        top: -20px;
      }

      &:after {
        bottom: -20px;
      }
    }

    nav {
      box-sizing: border-box;
      color: white;
      font-size: 2rem;
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      opacity: 0;
      transition: all .5s ease;
      z-index: -1;

      li {
        margin: 5px 0;
        text-align: center;
        line-height: 100%;
        cursor: pointer;
        // transition: background-color .1s;

        &:hover {
          border-bottom: 5px solid rgb(0, 74, 110, .5);
        }

        p {
          width: 100%;
          height: 100%;
        }
      }

      .border_nav {
        width: 20%;
        height: 66px;
        box-sizing: border-box;
        // right: 20px;
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: rgb(240, 248, 255, .2);
        border-bottom: 5px solid rgb(0, 74, 110, .5);
        transition: transform .3s;
      }

      &.shake {
        opacity: 1;
        z-index: 1;
      }
    }
  }

}