html.dark {

  $bgColor: linear-gradient(165deg, black 30%, darkblue 200%);
  $bgColorNav: rgb(26, 26, 26);
  $titleColor: white;
  $navColor: red;
  $togColorHover: rgb(80, 157, 192);
  $togColor: rgb(219, 219, 219);


  body {
    background: $bgColor;
  }

  .header {
    background-color: $bgColorNav;
  }

  .star {
    background: $bgColor;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  h3 {
    color: white;
  }

  li {
    color: white;
  }

  .tog {

    &.tcTog {
      font-size: 4rem;
      color: $togColor;
    }

    &:hover {
      color: $togColorHover;
      border-bottom: 1px solid $togColorHover;
    }
  }

  .nav_tog {
    background-color: $bgColorNav;
  }
}