body {
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  width: 100vw;
  height: 200px;
  background-color: rgb(179, 179, 179);

  .footer_href {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    // background-color: rgb(117, 117, 117);
    border-bottom: 2px solid rgb(117, 117, 117);

    .footer_ul {
      width: 50%;
      display: flex;
      justify-content: space-evenly;

      li {
        // margin-left: 3rem;
        font-size: 2rem;
        line-height: 50px;

      }
    }
  }

  .footer_text {
    display: flex;
    justify-content: center;
  }

  // position: absolute;
  // bottom: 0;
}