body {
  overflow-x: hidden;
  overflow-y: auto;
}
.nav {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 60px;
  top: -10%;
  transition: top 1s ease;

  &.maxWidth {
    top: 0%;
    background-color: rgb(117, 132, 145, .3);
  }

  .favicon {
    margin-left: 3rem;
    margin-top: 5px;
  }

  nav {
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    color: white;
    font-size: 2rem;
    transition: all .5s ease;

    li {
      margin: 5px 0;
      text-align: center;
      line-height: 80%;
      cursor: pointer;
      margin-right: 3rem;

      &:hover {
        color: red;
      }

      &.activeClass {
        color: red;

      }

      p {
        width: 100%;
        height: 100%;
      }
    }

    .border_nav {
      width: 0.5rem;
      height: 2.5rem;
      box-sizing: border-box;
      top: 2.1rem;
      left: -5px;
      position: absolute;
      background-color: red;
      border-radius: 15%;
      transition: transform .3s;
    }
  }
}

.footer {
  width: 100vw;
  height: 200px;
  background-color: rgb(179, 179, 179);

  .footer_href {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    // background-color: rgb(117, 117, 117);
    border-bottom: 2px solid rgb(117, 117, 117);

    .footer_ul {
      width: 50%;
      display: flex;
      justify-content: space-evenly;

      li {
        // margin-left: 3rem;
        font-size: 2rem;
        line-height: 50px;

      }
    }
  }

  .footer_text {
    display: flex;
    justify-content: center;
  }

  // position: absolute;
  // bottom: 0;
}