.myDetaill-content {
  // height: 1000px;
  // position: absolute;

  .tagContent {
    width: 90%;
    margin: 120px auto 0;
    // background-color: azure;
    display: flex;
    justify-content: space-between;

    .tagItem_content {
      margin-left: 15%;
      width: 80%;
      // padding: 20px;
      // background-color: azure;
    }
  }
}