.myDetaill-content {
  width: 100%;

  .tagContent {
    width: 90%;
    margin: 120px auto 0;
    // background-color: azure;
    display: flex;
    justify-content: space-between;

    .tagItem_content {
      // margin-left: 200px;
      width: 80%;
      // padding: 20px;
      // background-color: azure;
    }
  }
}